<h2>Create a celebrity</h2>
<form action="/celebrities/create">
  <label for=""></label>
  <input type="text" />
  <label for=""></label><input type="text" />
  <label for=""></label><input type="text" />
</form>