<h2>Crear tu Celebridad</h2>
<form action="/celebrities/create">
  <label for=""></label>
  <input type="text" /><label for=""></label><input type="text" /><label
    for=""
  ></label><input type="text" />
</form>